/*lettertypes*/
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700&display=swap');
@font-face{
	font-family: Anurati;
	src:url('Anurati.otf');
}

/*geen padding en margin op alle elementen*/
*{
	padding:0;
	margin:0;
}

body{
	/*lettertype*/
	font-family: 'Saira Semi Condensed',sans-serif;
	/*Achtergrond*/
	background-image: url("ag.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	padding:20px 0;
	color: white;
	background-color: black;
}

/*Box met grafieken*/
section{
	margin: 20px;
}

article{
	border-radius: 2em;
	padding: 30px;
	background-color: white;
}

/*titel in header*/
h1{
	font-family: Anurati, sans-serif;
	/*hoofdletters*/
	text-transform: uppercase;
	/*letters verder uit elkaar*/
	letter-spacing: 0.2em;
	text-align: center;
}

img{
	width: 100%;
}

strong, span{
	line-height: 1.8;
}

p{
	margin-bottom: 20px;
}

#temperatuur, #wind, #zicht{
	background-color:#ffcccc;
	padding: 2px 8px;
}

.check{
	background-color:#E6FFCC !important;
	padding: 2px 8px;
}

/*tablet*/
@media only screen and (min-width: 768px){
	section{
		display: grid;
		grid-gap: 20px;
		/*Gelijke kolommen*/
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
	    'info base'
	    'weer video';
	    /*Articles niet het hele vak vullen*/
	    align-items: start;	    
	}

	#info{
		grid-area: info;
	}
	#base{
		grid-area: base;
	}
	#weer{
		grid-area: weer;
	}
	#video{
		grid-area: video;
	}
}

/*laptop*/
@media only screen and (min-width: 1024px){
	section{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
	    'info info info'
	    'base weer video';
	}
}

/*Groot scherm*/
@media only screen and (min-width: 1440px){
	section{
		grid-template-columns: 2fr 1fr 1fr 1fr;
		/*Grafieken naast elkaar*/
		grid-template-areas:
	    'info base weer video';
	    /*Articles even groot*/
		align-items: stretch;
	}
