/*lettertypes*/
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700&display=swap');
@font-face{
	font-family: Anurati;
	src:url('Anurati.otf');
}

/*geen padding en margin op alle elementen*/
*{
	padding:0;
	margin:0;
}

body{
	/*lettertype*/
	font-family: 'Saira Semi Condensed',sans-serif;
	/*Achtergrond*/
	background-image: url("ag.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	padding:20px;
	color: white;
	background-color: black;
}

/*titel in header*/
h1{
	font-family: Anurati, sans-serif;
	/*hoofdletters*/
	text-transform: uppercase;
	/*letters verder uit elkaar*/
	letter-spacing: 0.2em;
	text-align: center;
}

/*knoppen*/
nav{
	/*responsive*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

button{
	margin-top:20px;
    border: solid thick white;
    padding: 5px 10px;
    color: black;
    background-color: white;
    border-radius: 2em;
    font-family: 'Saira Semi Condensed',sans-serif;
    width:100%;
}

button:hover{
	color: white;
	background-color: transparent;
}

/*elke base is een section*/
section{
	margin: 20px;
	border-radius: 2em;
	padding: 30px;
	background-color: white;
}

img{
	width: 100%;
}

strong, span{
	line-height: 1.8;
}

p{
	margin-bottom: 20px;
}

#kaart1, #kaartOCISLY, #kaartJRTI{
	width: 100%;
	height:200px;
}

#kaart1 img, #kaartOCISLY img, #kaartJRTI img{
	display: block;
}

#weer4 span, #weer1 span, #weerOCISLY span, #weerJRTI span{
	background-color:#ffcccc;
	padding: 2px 8px;
}

.check{
	background-color:#E6FFCC !important;
	padding: 2px 8px;
}

@media only screen and (min-width: 388px){
	button{
		width:48%;
	}
}

@media only screen and (min-width: 680px){
	button{
		width:auto;
	}
}

/*tablet*/
@media only screen and (min-width: 768px){
	#base4{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		'info4 weer4'
	    'info4 locatie4';
	}

	#base1{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		'info1 weer1'
	    'info1 locatie1';
	}

	#baseOCISLY{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		'infoOCISLY weerOCISLY'
	    'infoOCISLY locatieOCISLY';
	}

	#baseJRTI{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		'infoJRTI weerJRTI'
	    'infoJRTI locatieJRTI';
	}

	#info4{
		grid-area: info4;
	}

	#weer4{
		grid-area: weer4;
	}

	#locatie4{
		grid-area: locatie4;
	}

	#info1{
		grid-area: info1;
	}

	#weer1{
		grid-area: weer1;
	}

	#locatie1{
		grid-area: locatie1;
	}

	#infoOCISLY{
		grid-area: infoOCISLY;
	}

	#weerOCISLY{
		grid-area: weerOCISLY;
	}

	#locatieOCISLY{
		grid-area: locatieOCISLY;
	}

	#infoJRTI{
		grid-area: infoJRTI;
	}

	#weerJRTI{
		grid-area: weerJRTI;
	}
	
	#locatieJRTI{
		grid-area: locatieJRTI;
	}
}

/*Laptop*/
@media only screen and (min-width: 1024px){
	nav{
		display: none;
	}

	#kaart1, #kaartOCISLY, #kaartJRTI{
		width: 100%;
		height: 412px;
	}

	#base4{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		'info4 weer4 locatie4';
	}

	#base1{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		'info1 weer1 locatie1';
	}

	#baseOCISLY{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		'infoOCISLY weerOCISLY locatieOCISLY';
	}

	#baseJRTI{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		'infoJRTI weerJRTI locatieJRTI';
	}
}

/*Groot scherm*/
@media only screen and (min-width: 1440px){
	body{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		'header header header header'
	    'base4 base1 baseOCISLY baseJRTI';
	}

	header{
		grid-area: header;
	}

	#base4{
		grid-area:base4;
	}

	#base1{
		grid-area:base1;
	}

	#baseOCISLY{
		grid-area: baseOCISLY;
	}

	#baseJRTI{
		grid-area: baseJRTI;
	}

	#base4,#base1,#baseOCISLY,#baseJRTI{
		display: block;
	}


	#weer4 h2, #weer1 h2, #weerOCISLY h2, #weerJRTI h2, #locatie4 h2, #locatie1 h2, #locatieOCISLY h2, #locatieJRTI h2{
		margin-top: 20px;
	}
}